@page
@model PPMRm.Web.Pages.Reports.BuildModel
@{
}
@section scripts
{
    <abp-script src="/Pages/Reports/Index.js" />
    <abp-script src="/js/bootstrap-multiselect.min.js" />
    <abp-script src="/libs/datatables.net/js/jquery.dataTables.js" />
    <abp-script src="/js/jszip.min.js" />
    <abp-script src="/js/dataTables.buttons.min.js" />
    <abp-script src="/libs/datatables.net-bs4/js/dataTables.bootstrap4.js" />
    <abp-script src="/libs/chart.js/Chart.bundle.js" />
    <abp-script src="/js/buttons.html5.min.js" />
}

@section styles
{
    <link rel="stylesheet" href="/libs/datatables.net-bs4/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="/styles/buttons.dataTables.min.css">
    
}
<abp-card>
    <abp-card-header>
                <abp-card-title>Build Your Own Report</abp-card-title><br />
            <abp-card-subtitle class="text-muted mb-3">Stock Status list page</abp-card-subtitle>
            <form class="needs-validation" novalidate method="post">
  
<div class="form-row mt-3">
    <div class="col-md-4 mb-3">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrependCountry">Countries</span>
        </div>
        <select asp-for="@Model.SelectedCountries" asp-items="@Model.Countries"></select>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrependCountry">Start Period</span>
        </div>
        <!-- <input type="text" asp-for="@Model.StartPeriod" class="period-picker form-control" readonly="readonly" /> -->
      <input type="text" id="StartPeriod" asp-for="@Model.StartPeriod" name="StartPeriod" readonly="readonly" class="period-picker  form-control" />
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrependYear">End Period</span>
        </div>
        <!--<input type="text" asp-for="@Model.EndPeriod" class="period-picker form-control" readonly="readonly" />-->
       <input type="text" id="EndPeriod" name="EndPeriod" asp-for="@Model.EndPeriod" readonly="readonly" class="period-picker form-control" />
      </div>
    </div>
    
  </div>

  <div class="form-row mt-3">
    <div class="col-md-6 mb-3">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrependYear">Programs</span>
        </div>
        <select asp-for="@Model.SelectedPrograms" asp-items="@Model.Programs" class="form-control"></select>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrependPeriod">Products</span>
        </div>
        <select asp-for="@Model.SelectedProducts" asp-items="@Model.Products" class="form-control"></select>
       
      </div>
    </div>
    <!-- <div class="col-md-4 mb-3">
      <div class="input-group">
        
        <input type="submit" value="Generate" class="btn btn-primary" />
       
      </div> 
    </div>-->
  </div>

  <div class="form-row mt-3">
      <div class="col-md-12 mb-3">
      <div class="input-group">
        
      </div>
        <input type="submit" value="Generate" class="btn btn-primary form-control" />
    </div>
    
  </div>
</form>
        
    </abp-card-header>
    <abp-card-body>
        
    </abp-card-body>
</abp-card>
<div class="mt-2">

<div class="table-responsive table-body">
<table id="tblReport" class="table-striped table-bordered table-sm .w-auto small">
    <thead>
            <th>Country</th>
            <th>Program</th>
            <th>Product</th>
            <th>Month</th>
            <th>Year</th>
            <th>Period Month</th>
            <th>SOH Levels</th>
            <th>No New Data</th>
            <th>Stock on Hand</th>
            <th>MOS</th>
            <th>AMC</th>
            <th>Date of SOH</th>
            <th>Min</th>
            <th>Max</th>
            <th>Date Stock Reported</th>
            <th>Source Of Consumption</th>
            <th>Source Of Consumption Type</th>
            <th>Actions Recommended</th>
            <th>Date Action Needed by</th>
            <th>Supplier of Next Shipment</th>
            <th>Next Shipment Quantity</th>
            <th>Next Shipment Info (Supplier, Expected Date, Quantity, Shipment MOS, Data Source)</th>
                    
    </thead>
    <tbody>
        @if(Model.Results != null && Model.Results.Any())
        {
            foreach(var s in Model.Results.OrderBy(x => x.Period.Id).ThenBy(x => x.Country.Name))
            {
                <tr>
                    <td>@s.Country.Name</td>
                    <td>@s.Program.Name</td>
                    <td>@s.Product.Name</td>
                    <td>@s.Period.ShortName</td>
                    <td>@s.Period.Year</td>
                    <td>@s.Period.ShortName</td>
                    <td></td>
                    <td></td>
                    <td>@s.SOH</td>
                    <td>@s.MOS?.ToString("N1")</td>
                    <td>@s.AMC</td>
                    <td>@s.DateOfSOH</td>
                    <td>@s.MinStock</td>
                    <td>@s.MaxStock</td>
                    <td>@s.DateOfSOH</td>
                    <td>@s.SourceOfConsumption</td>
                    <td>@s.SourceOfConsumption</td>
                    <td>@s.ActionRecommended</td>
                    <td>@s.DateActionNeededBy</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>           
            }
        }
        else
        {
            <tr>
                <td colspan="21" class="text-center">No data to display</td>
            </tr>
        }      
    </tbody>
</table>
</div>
</div>
<div style="display:none">
<canvas id="myChart"></canvas>
</div>