@page "/reports/periods/{id:int}"
@using PPMRm.PeriodReports
@{
    Layout = "_NoNavbar.cshtml";
}
@model PPMRm.Web.Pages.Reports.PeriodModel
@{
    ViewBag.Title = $"Period Summary - {Model.PeriodSummary?.Period.ShortName}";
}
@section scripts
{
    <abp-script src="/Pages/Reports/Index.js" />
    <abp-script src="/js/bootstrap-multiselect.min.js" />
    <abp-script src="/libs/datatables.net/js/jquery.dataTables.js" />
    <abp-script src="/js/jszip.min.js" />
    <abp-script src="/js/dataTables.buttons.min.js" />
    <abp-script src="/libs/datatables.net-bs4/js/dataTables.bootstrap4.js" />
    <abp-script src="/libs/chart.js/Chart.bundle.js" />
    <abp-script src="/js/buttons.html5.min.js" />
    <abp-script src="/js/html2pdf.bundle.min.js" />
}
@if(Model.PeriodSummary != null)
{
    <input type="hidden" id="SelectedPeriodId" name="SelectedPeriodId" value="@Model.Id" />
    <header class="mt-5 mb-2" style="vertical-align:central;">
        <div class="row align-items-center">
            <div class="col-sm-3">
                <img class="img-fluid float-right" src="/logos/usaid_deliver-no-bg.png" alt="MDN logo" />
            </div>
            <div class="col-sm-6 text-center">
                <p class="lead">PROCUREMENT PLANNING AND MONITORING REPORT<br /> MALARIA (PPMRm) <br /> Status Report Summary Summary</p>
            </div>
            <div class="col-sm-3">
                <span class="lead text-center">@Model.PeriodSummary.Period.ShortName</span>
            </div>
        </div>
    </header>
        
        <div class="container">
        <h3 class="text-center">Stockouts</h3>
                <div class="chart-container mb-5">
                    <canvas id="chrtStockouts" ></canvas>
                    </div>
                <table class="table table-striped table-sm" id="tblStockouts">
                <thead>
                    <tr>
                        <th>Country</th>
                        <th>Product</th>
                        <th>Recommended Action</th>
                        <th>Date Action Needed By</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var c in Model.PeriodSummary.CountrySummaries.Where(x => x.Stockouts.Any()))
                    {
                        @foreach(var p in c.Stockouts)
                        {
                            <tr>
                                <td>@c.Country.Name</td>
                                <td>@p.Product.Name</td>
                                <td>@p.ActionRecommended</td>
                                <td>@p.DateActionNeededBy?.ToString(PeriodReportConsts.DataFormatting.DateFormat)</td>
                            </tr>
                        }
                    }
                    @if(!Model.PeriodSummary.CountrySummaries.Where(x => x.Stockouts.Any()).Any())
                    {
                        <tr>
                            <td colspan="5" class="text-center">No Stockouts reported for period</td>
                        </tr>
                    }

                </tbody>
            
                </table>
                </div>
                <div class="page-break"></div>
<div class="container">
    <h3 class="text-center">Shortages</h3>
                <div class="chart-container mb-5">
                    <canvas id="chrtShortages" ></canvas>
                    </div>
                <table class="table table-striped table-sm" id="tblShortages">
                <thead>
                    <tr>
                        <th>Country</th>
                        <th>Product</th>
                        <th>MOS</th>
                        <th>Recommended Action</th>
                        <th>Date Action Needed By</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var c in Model.PeriodSummary.CountrySummaries.Where(x => x.Shortages.Any()))
                    {
                        @foreach(var p in c.Shortages)
                        {
                            <tr>
                                <td>@c.Country.Name</td>
                                <td>@p.Product.Name</td>
                                <td>@p.MOS?.ToString("N1")</td>
                                <td>@p.ActionRecommended</td>
                                <td>@p.DateActionNeededBy?.ToString(PeriodReportConsts.DataFormatting.DateFormat)</td>
                            </tr>
                        }
                    }
                    @if(!Model.PeriodSummary.CountrySummaries.Where(x => x.Shortages.Any()).Any())
                    {
                        <tr>
                            <td colspan="5" class="text-center">No Shortages reported for period</td>
                        </tr>
                    }

                </tbody>
            
                </table>
                </div>
                <div class="page-break"></div>

                <div class="container">
    <h3 class="text-center">Over Supply</h3>
                <div class="chart-container mb-5">
                    <canvas id="chrtOversupplies" ></canvas>
                    </div>
                <table class="table table-striped table-sm" id="tblOversupply">
                <thead>
                    <tr>
                        <th>Country</th>
                        <th>Product</th>
                        <th>MOS</th>
                        <th>Recommended Action</th>
                        <th>Date Action Needed By</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var c in Model.PeriodSummary.CountrySummaries.Where(x => x.Oversupply.Any()))
                    {
                        @foreach(var p in c.Oversupply)
                        {
                            <tr>
                                <td>@c.Country.Name</td>
                                <td>@p.Product.Name</td>
                                <td>@p.MOS?.ToString("N1")</td>
                                <td>@p.ActionRecommended</td>
                                <td>@p.DateActionNeededBy?.ToString(PeriodReportConsts.DataFormatting.DateFormat)</td>
                            </tr>
                        }
                    }
                    @if(!Model.PeriodSummary.CountrySummaries.Where(x => x.Oversupply.Any()).Any())
                    {
                        <tr>
                            <td colspan="5" class="text-center">No Over Supply reported for period</td>
                        </tr>
                    }

                </tbody>
            
                </table>
                </div>
                

     }