@page "{id}"
@model PPMRm.Web.Pages.PeriodReports.EditModel

@section scripts
{
    <abp-script src="/Pages/PeriodReports/Edit.js" />
    <abp-script src="/js/bootstrap-multiselect.min.js" />
    <abp-script src="/js/dataTables.buttons.min.js" />
}
@{
    <input type="hidden" id="Id" value="@Model.Id" />
    <abp-card>
        <abp-card-header>
            <abp-row>
                <abp-column size-md="_6">
                    <abp-card-title>@Model.PeriodReport.Country.Name - @Model.PeriodReport.Period.Name</abp-card-title>
                </abp-column>
                <abp-column size-md="_6" class="text-right">
                    <abp-button id="edit-cs-updates"
                                text="View/Edit CS Updates"
                                button-type="Primary"/>
                    <abp-button id="close-period"
                                text="Close"
                                disabled="true"
                                button-type="Danger"/>
                </abp-column>
            </abp-row>
        </abp-card-header>
        <abp-card-body>                
                
        </abp-card-body>
    </abp-card>
    @foreach(var program in Model.PeriodReport.Programs)
                {
                    <abp-card>
                        <abp-card-header>
                            <abp-row>
                                <abp-column size-md="_6">
                                    <abp-card-title>@program.Program.Name</abp-card-title>
                                </abp-column>
                                <abp-column size-md="_6" class="text-right">
                                    <abp-button class="btn-add-program-product"
                                                data-period-report-id="@program.PeriodReportId"
                                                data-program-id="@program.Program.Id"
                                                text="Add Product"
                                                icon="plus"
                                                button-type="Success"/>
                                </abp-column>
                            </abp-row>
                        </abp-card-header>
                        <abp-card-body>                
                            <abp-table striped-rows="true" class="table-program" data-id="@program.PeriodReportId" data-program-id="@program.Program.Id">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>MOS</th>
                                        <th>Stock on Hand</th>
                                        <th>Date of SOH</th>
                                        <th>AMC</th>
                                        <th>Source of Consumption</th>
                                        <th>Action Recommended</th>
                                        <th>Action needed by</th>
                                        <th>Shipments</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(var p in program.Products)
                                {
                                    <tr>
                                        <td>@p.Product.Name</td>
                                        <td>@p.MOS</td>
                                        <td>@p.SOH</td>
                                        <td>@p.DateOfSOH</td>
                                        <td>@p.AMC</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>@p.Shipments?.Count</td>
                                        <td>
                                            <abp-button data-id="@p.Product.Id" data-program-id="@p.Program.Id" data-period-report-id="@Model.Id"
                                                    class="btn-edit-product"
                                                    text="Edit"
                                                    button-type="Warning"/>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            </abp-table>
                        </abp-card-body>
                    </abp-card>
                    <hr />
                }
    
}

