@page "{id}"
@model PPMRm.Web.Pages.PeriodReports.EditModel

@section scripts
{
    <abp-script src="/Pages/PeriodReports/Edit.js" />
    <abp-script src="/js/bootstrap-multiselect.min.js" />
    <abp-script src="/js/dataTables.buttons.min.js" />
}
@{
    <input type="hidden" id="Id" value="@Model.Id" />
    <abp-card>
        <abp-card-header>
            <abp-row>
                <abp-column size-md="_6">
                    <abp-card-title>@Model.PeriodReport.Country.Name - @Model.PeriodReport.Period.Name</abp-card-title>
                </abp-column>
                <abp-column size-md="_6" class="text-right">
                    <abp-button id="edit-cs-updates"
                                text="View/Edit CS Updates"
                                button-type="Primary"/>
                    <abp-button id="close-period"
                                text="Close"
                                disabled="true"
                                button-type="Danger"/>
                </abp-column>
            </abp-row>
        </abp-card-header>
        <abp-card-body>                
                
        </abp-card-body>
    </abp-card>
    @foreach(var program in Model.PeriodReport.Programs)
                {
                    <abp-card>
                        <abp-card-header>
                            <abp-row>
                                <abp-column size-md="_6">
                                    <abp-card-title>@program.Program.Name</abp-card-title>
                                </abp-column>
                                <abp-column size-md="_6" class="text-right">
                                    <abp-button class="btn-add-program-product"
                                                data-period-report-id="@program.PeriodReportId"
                                                data-program-id="@program.Program.Id"
                                                text="Add Product"
                                                icon="plus"
                                                button-type="Success"/>
                                </abp-column>
                            </abp-row>
                        </abp-card-header>
                        <abp-card-body>                
                            <abp-table class="table-program" data-id="@program.PeriodReportId" data-program-id="@program.Program.Id">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>MOS</th>
                                        <th>Stock on Hand</th>
                                        <th>Date of SOH</th>
                                        <th>AMC</th>
                                        <th>Source of Consumption</th>
                                        <th>Action Recommended</th>
                                        <th>Action needed by</th>
                                        <th>Actions</th>
                                        <th>Shipments</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(var p in program.Products)
                                {
                                    <tr>
                                        <td>@p.Product.Name</td>
                                        <td>@p.MOS</td>
                                        <td>@p.SOH</td>
                                        <td>@p.DateOfSOH</td>
                                        <td>@p.AMC</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <abp-button data-id="@p.Product.Id" data-program-id="@p.Program.Id" data-period-report-id="@Model.Id"
                                                    class="btn-edit-product"
                                                    text="Edit"
                                                    button-type="Primary"/>
                                        </td>
                                        <td class="accordion-toggle" data-toggle="collapse" data-target="#@p.Product.Id-@p.Program.Id">
                                             <abp-button  class="accordion-toggle" data-toggle="collapse" data-target="#@p.Product.Id-@p.Program.Id"
                                                    text="(@(p.Shipments?.Count ?? 0))"
                                                    button-type="Link" />
                                        </td>
                                    </tr>
                                    <tr>
                                      <td class="accordion-body collapse text-right" id="@p.Product.Id-@p.Program.Id" colspan="10">
                                        <table class="table">
                                          <thead>
                                          <tr>
                                           <th>Supplier</th>
                                            <th>Next Shipment Date</th>
                                            <th>Quantity</th>
                                            <th>Shipment MOS</th>
                                            <th>Data Source</th>
                                            <th></th>
                                          </tr>
                                          </thead>
                                          <tbody>
                                            @foreach(var s in p.Shipments)
                                            {
                                                <tr>
                                                    <td>@s.Supplier</td>
                                                    <td>@s.ShipmentDate?.ToString("yyyy-MM-dd") @s.ShipmentDateType</td>
                                                    <td>@s.Quantity</td>
                                                    <td>@s.MOS</td>
                                                    <td>@s.DataSource</td>
                                                    <td>
                                                        <abp-button data-id="@s.Id" data-product-id="@s.ProductId" data-program-id="@p.Program.Id" data-period-report-id="@Model.Id"
                                                                    class="btn-remove-shipment"
                                                                    icon="minus"
                                                                    text=""
                                                                    button-type="Danger"/>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                }
                            </tbody>
                            </abp-table>
                        </abp-card-body>
                    </abp-card>
                    <hr />
                }
    
}

