@page
@model PPMRm.Web.Pages.PeriodReports.IndexModel
@section styles{
   
}
@section scripts
{
    <abp-script src="/Pages/PeriodReports/Index.js" />
    <abp-script src="/js/bootstrap-multiselect.min.js" />
    <abp-script src="/js/dataTables.buttons.min.js" />
}

<div class="container">
    <div class="row">
            
    <h2>Period Reports</h2>
    </div>
</div>
<abp-card>
    <abp-card-header>
        <form class="needs-validation" novalidate>
            <div class="form-row mt-3">
                <div class="col-md-4 mb-3">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroupPrependCountry">Country</span>
                    </div>
                    <select asp-for="@Model.SelectedCountries" asp-items="@Model.Countries" class="form-control"></select>
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroupPrependYear">Year</span>
                    </div>
                    <select asp-for="@Model.SelectedYear" asp-items="@Model.Years" class="form-control"></select>
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroupPrependPeriod">Period</span>
                    </div>
                    <select asp-for="@Model.SelectedMonth" asp-items="@Model.Months" class="form-control"></select>
       
                  </div>
                </div>
              </div>
        </form>
        <!--<div class="container">
          <div class="row">
            <div class="col">
                <abp-select asp-for="@Model.SelectedCountries" asp-items="@Model.Countries" />
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-sm-4 right"><label asp-for="@Model.SelectedYear"></label></div>
                    <div class="col-sm-8">
                        <abp-select suppress-label="true" asp-for="@Model.SelectedYear" asp-items="@Model.Years" />
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <label class="col-sm-4 right" asp-for="@Model.SelectedMonth">Period</label>
                     <div class="col-sm-8">
                    <abp-select suppress-label="true" asp-for="@Model.SelectedMonth" asp-items="@Model.Months" class="col-sm-8" />
                    </div>
                </div>
            </div>
         </div>
        </div>-->

    </abp-card-header>
</abp-card>
<abp-table class="table-striped table-bordered .w-auto small" id="PeriodReportsTable"></abp-table>