@page
@model PPMRm.Web.Pages.PeriodReports.IndexModel
@section styles{
   <style type="text/css">
    li.multiselect-item {
        text-align: left;
    }    
   </style>
}
@section scripts
{
    <abp-script src="/Pages/PeriodReports/Index.js" />
    <abp-script src="/js/bootstrap-multiselect.min.js" />
    <abp-script src="/js/dataTables.buttons.min.js" />
}

<div class="container">
    <div class="row">
            
    <h2>Period Reports</h2>
    </div>
</div>
<abp-card>
    <abp-card-header>
        <div class="container">
          <div class="row">
            <div class="col">
                <abp-select asp-for="@Model.SelectedCountries" asp-items="@Model.Countries" />
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-sm-4 right"><label>Year</label></div>
                    <div class="col-sm-8">
                        <abp-select suppress-label="true" asp-for="@Model.SelectedYear" asp-items="@Model.Years" />
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <label class="col-sm-4 right">Period</label>
                     <div class="col-sm-8">
                    <abp-select suppress-label="true" asp-for="@Model.SelectedMonth" asp-items="@Model.Months" class="col-sm-8" />
                    </div>
                </div>
            </div>
         </div>
        </div>
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="PeriodReportsTable"></abp-table>
    </abp-card-body>
</abp-card>